<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org" layout:decorator="web/layout/base">
<head>
    <meta charset="utf-8"/>
    <title>식방</title>
</head>
<body>
<div layout:fragment="content" id="contents">
    <div id="container">
        <div class="containerTitle">
                    <h2>중개사로 회원가입</h2>
                </div>
                <form action="/create-broker" enctype="multipart/form-data"  id="brokerJoinForm">
                <table id="joinTable" class="table full">
                    <tr>
                        <th class="paddingLeft" style="width:200px; text-align:left;">이메일</th>
                        <td>
                            <input type="text" name = "email" class="formControl wide" style="height:30px;" required="required"/>
                            <label id="emailMessage" class="helpBlock primary"></label>
                        </td>
                    </tr>
                    <tr>
                        <th class="paddingLeft" style="text-align:left;">비밀번호</th>
                        <td>
                            <input type="password" name="password" class="formControl wide" required="required" style="height:30px;"  required="required"/>
                            <label id="passwordMessage" class="helpBlock primary"></label>
                        </td>
                    </tr>
                    <tr>
                        <th class="paddingLeft" style="text-align:left;">비밀번호 확인</th>
                        <td>
                            <input type="password" name="passwordConfirm" class="formControl wide" required="required" style="height:30px;" />
                            <label id="passwordConfirmMessage" class="helpBlock primary"></label>
                        </td>
                    </tr>
                    <tr>
                        <th class="paddingLeft" style="text-align:left;">사업자등록번호</th>
                        <td>
                            <input type="text" name = "corporationRegistration" class="formControl wide" style="height:30px;" />
                            <label class="helpBlock">* 하이푼(-)없이 입력해주세요.</label>
                        </td>
                    </tr>
                    <tr>
                        <th class="paddingLeft" style="text-align:left;">프로필 사진</th>
                        <td>
                            <input type="button" class="imageUploadButton btn littleWide" style="height:30px; " value="사진첨부"/>
                            <label class="helpBlock"> *매물 담당자로 소개될 프로필 사진을 선택해주세요.</label>
                            <br/><br/>
                            <input type="file" name="attachmentFile" style="display:none;"/>
                            <img src="" data-id="0" class="uploadImg basicImg" style="width:100px;height:70px;cursor:pointer;"/>

                        </td>
                    </tr>
                    <tr>
                        <th class="paddingLeft" style="text-align:left;">사용자명</th>
                        <td>
                            <input type="text" name = "username" class="formControl wide" style="height:30px;" required="required"/>
                            <label id="usernameMessage" class="helpBlock primary"></label>

                        </td>
                    </tr>
                    <tr>
                        <th class="paddingLeft" style="text-align:left;">회사명</th>
                        <td>
                            <input type="text" name = "companyName" class="formControl wide" style="height:30px;" />
                        </td>
                    </tr>
                    
                    <tr style="height:100px;">
                        <th class="paddingLeft" style="text-align:left;">주소</th>
                        <td>
                            <div class="formControlGroup horizontal">
                                <label class="narrow">기본 주소</label>
                                <input type="text" name="townAddress" required="required" class="formControl wide" style="height:30px;" placeholder="서울시 관악구 신대방동" />
                            </div>
                            
                            <div class="formControlGroup horizontal" style="margin-bottom:0;">
                                <label class="narrow">상세 주소</label>
                                <input type="text" name="addressDetail" required="required" class="formControl wide" style="height:30px;" placeholder="상세주소를 입력해 주세요." />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="paddingLeft" style="width:200px; text-align:left;">전화번호</th>
                        <td>
                            <input type="text" name="phoneNumber" class="formControl wide" style="height:30px;" />
                        </td>
                    </tr>
                    <tr>
                        <th class="paddingLeft" style="width:200px; text-align:left;">핸드폰</th>
                        <td>
                            <input type="text" name="cellphoneNumber" class="formControl wide" style="height:30px;" />
                        </td>
                    </tr>
                </table>

                <div class="waitCheck">
                    <input id="wait" type="checkbox" class="formControl primary" required="required"/>
                    <label for="wait"></label>
                    <label><strong><a target="_blank" th:href="@{/use-policy}">이용약관</a>,<a target="_blank" th:href="@{/privacy-policy}"> 개인정보 취급방침</a></strong> 및 <strong><a target="_blank" th:href="@{/lbs-policy}">위치기반서비스 이용약관</a></strong>에 동의합니다.</label>
                </div>
                <div class="btnGroup">
                    <button id="approvalButton" type="submit" class="btn primary wide">승인요청</button>
                </div>
                </form>
                <div class="waitHelp">
                    <p>승인요청 시 회원가입 정보를 확인하여 회원가입을 결정합니다.</p>
                    <p>최대 대기 시간은 24시간 입니다.</p>
                </div>
            </div>

    <script>
        $(document).ready(function(){

            function resetAllMessage(){
                $("#emailMessage").html("");
                $("#passwordMessage").html("");
                $("#passwordConfirmMessage").html("");
                $("#usernameMessage").html("")

            }

            var _this = new Admin();

            $("#brokerJoinForm").submit(function(e){

                var self = this;
                e.preventDefault();

                var email = $("input[name=email]").val();
                var password =  $("input[name=password]").val();
                var passwordConf = $("input[name=passwordConfirm]").val();
                var corporationRegistration = $("input[name=corporationRegistration]").val();
                var username = $("input[name=username]").val();
                var companyName = $("input[name=companyName]").val();
                var townAddress = $("input[name=townAddress]").val();
                var addressDetail = $("input[name=addressDetail]").val();
                var phoneNumber = $("input[name=phoneNumber]").val();
                var cellphoneNumber = $("input[name=cellphoneNumber]").val();
                resetAllMessage();

                if(email == ""){
                    $("#emailMessage").html("e-mail 를 입력하세요.");
                    $("input[name=email]").focus();
                    return false;
                }
                if(password == ""){
                    $("#passwordMessage").html("* 암호는 비워 둘 수 없습니다")
                    $("input[name=password]").focus();
                    return false;
                }
                if(password.length < 4){
                    $("#passwordMessage").html("* 비밀번호 4자 이상 입력")
                    $("input[name=password]").focus();
                    return false;
                }
                if(passwordConf.length < 4){
                    $("#passwordConfirmMessage").html("* 비밀번호 확인 4자 이상 입력")
                    $("input[name=passwordConfirm]").focus();
                    return false;
                }
                if(passwordConf != password){
                    $("#passwordConfirmMessage").html("일치하지 않습니다.")
                    $("input[name=passwordConfirm]").focus();
                    return false;
                }
                if(townAddress == ""){
                    $("input[name=townAddress]").focus();
                    alert("기본 주소 입력.");
                    return;
                }
                if(addressDetail == ""){
                    $("input[name=addressDetail]").focus();
                    alert("상세 주소 입력.");
                    return;
                }
                if($("#wait").prop("checked") == false){
                    alert("개인정보 취급방침에 동의해주세요.");
                    return;
                }
                if($("#joinTable").find("input[type=file]").val() == ""){
                    alert("프로필 사진을 등록해 주세요.")
                    return;
                }
                _this.submitFormEstateWeb($(self),function(){
                   location.href='/broker-join-waiting';
                });
                /*
                $.ajax({
                    url: "/create-broker",
                    type: "POST",
                    dataType: "json",
                    data:{
                        "email" : email,
                        "password" : password,
                        "passwordConfirm" : passwordConf,
                        "corporationRegistration" : corporationRegistration,
                        "username" : username,
                        "companyName": companyName,
                        "townAddress": townAddress,
                        "addressDetail": addressDetail,
                        "phoneNumber": phoneNumber,
                        "cellphoneNumber" : cellphoneNumber,

                    },
                    success:function (data) {
                        if(data.errors != null){
                            if(data.errors.email != null){
                                $("#emailMessage").html(data.errors.email);
                                $("input[name=email]").focus();
                                return;
                            }
                        }
                        top.location.href="/broker-join-waiting";
                    }

                });*/
            });
            //사진 첨부 버튼
            $(".imageUploadButton").click(function(e){
                var files = $(this).parent().find("input[type=file]");
                var imgs = $(this).parent().find("img");

                files.click();
            });
            var fileString = ["","","","",""];
            //파일이 업로드 되면
            $("input[type=file]").change(function(e){
                var img = $(this).parent().find("img").eq(
                    $(this).parents(".tabContents").find("input[type=file]").index($(this))
                );

                var ext = $(this).val().split('.').pop().toLowerCase();
                if(ext == ""){
                    img.attr('src', "");
                    $(this).val("");
                    return false;
                }

                if($.inArray(ext, ['gif','png','jpg','jpeg']) == -1) {
                    alert('gif,png,jpg,jpeg 파일만 업로드 할수 있습니다.');
                    $(this).val("");
                    img.attr('src', "");
                    return;
                }

                if (this.files && this.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        img.attr('src', e.target.result);
                        for(var i = 0 ; i < 5 ; i++){
                            if(fileString[i] == ''){
                                fileString[i] = e.target.result;
                                break;
                            }
                        }
                    }
                    reader.readAsDataURL(this.files[0]);

                }
            });

            //이미지 제거를 위해 사진을 클릭했을 때
            $(".uploadImg").click(function(e){
                var file = $(this).parent().find("input[type=file]").eq(
                    $(this).parents(".tabContents").find("img").index($(this))
                );
                $(this).attr("src","");
                file.val("");

            });
        });

    </script>

</div>
</body>

</html>