<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org" layout:decorator="web/layout/base">
<head>
    <meta charset="UTF-8"/>
    <title>Index</title>
	<!-- Render css and js -->
    <link rel="shortcut icon" th:href="@{/static/admin/assets/images/icon/favicon.ico}" type="image/x-icon" />

</head>
<body>
    <div layout:fragment="content"  id="contents">
        <div class="mainVisual" style="background: transparent url(/static/admin/include/images/main/back.png) no-repeat center;">
            <form th:action="@{/estate}" method="POST">
            <div class="searchArea">
                <select id="findMethod" class="formControl primary">
                    <option value="1">상권으로 찾기</option>
                    <option value="2">지하철 역으로 찾기</option>
                    <option value="3">등록번호로 찾기</option>
                </select>
                <div class="storeSearch searchMethodArea active">
                    <select class="formControl citySelect" name="city">
                        <option selected value = "선택" disabled>선택</option>
                    </select>
                    <select class="formControl districtSelect" name="district">
                        <option selected value = "선택" disabled>선택</option>
                    </select>
                    <select class="formControl townSelect" name="town">
                        <option selected value = "선택" disabled>선택</option>
                    </select>
                </div>
                <div class="subwaySearch searchMethodArea" style="margin-right:20px;">
                    <input type="text" name="subwayStation" class="subwayInput formControl" style="width:498px;" placeholder="지하철역"/>
                </div>
                <div class="numberSearch searchMethodArea">
                    <input type="text" name="estateCode" class="formControl" id="registryNo" style="width:498px;" placeholder="등록번호"/>
                </div>
                <button class="btn primary" id="searchButton" type="submit">매물 검색 <i class="fa fa-search"></i></button>

            </div>
            </form>

        </div>
        <div id="container">
            <div class="row">
                <div class="mainBoard">
                    <div class="title clearFix">
                        <h3 class="name">외식 창업 소식</h3>
                        <a th:href="@{/board}" class="viewMore">+ 더보기</a>
                    </div>
                    <table class="boardContents">
                        <tr th:each="board : ${boards}">
                            <td><a th:href="@{'http://'+${board.content}}" target="_blank" th:text="${board.title}"></a></td>
                            <td ><span th:if="${board.createdDate != null}" th:text="${#dates.format(board.createdDate, 'dd/MM/YYYY')}"></span></td>
                        </tr>
                    </table>
                </div>
                <div class="mainBoard">
                    <div class="title clearFix">
                        <h3 class="name">공지사항</h3>
                        <a th:href="@{/notice}" class="viewMore">+ 더보기</a>
                    </div>
                    <table class="boardContents">
                        <tr th:each="notice : ${notices}">
                            <td><a th:href="@{'http://'+${notice.content}}" target="_blank" th:text="${notice.title}"></a></td>
                            <td ><span th:if="${notice.createdDate != null}" th:text="${#dates.format(notice.createdDate, 'dd/MM/YYYY')}"></span></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="mainSlideBox ">
            <div class="slideArea">
                <div class="sideBox sideboxLeft" >
                    <div class="arrow leftArrow"></div>
                </div>
                <div class="centerBox">

                </div>
                <div class="sideBox sideboxRight">
                    <div class="arrow rightArrow"></div>
                </div>
            </div>
        </div>
        <div class="appArea">
            <div class="container">
                <div class="block">
                    <img class="phone" th:src="@{/static/admin/include/images/main/phone.png}"/>
                </div>
                <div class="block">
                    <div class="text">
                        <p><strong>식방앱다운</strong>받으시고</p>
                        <p>쉽고 빠르게 검색하세요!</p>
                    </div>
                    <a href="#"><button class="appMove" style="width:220px;"><img th:src="@{/static/admin/include/images/main/google.png}"/></button></a>
                    <br/>
                    <a href="#"><button class="appMove" style="width:220px;"><img th:src="@{/static/admin/include/images/main/appstore.png}"/></button></a>
                </div>

            </div>
        </div>
        <div class="detailArea">
            <div class="wrap">
                <span class="info"><strong>중개사무소 가입 및 광고 방법</strong>이 궁금하신가요?</span>
                  <a th:href="@{/paid}"><button class="btn info round littleWide">자세히 보기</button></a>
            </div>
        </div>
        <script th:src="@{../../static/admin/assets/js/index.js}"></script>

    </div>

</body>
</html>