/* mainVisual */
.mainVisual{
    position: relative;
    width:100%;
    height:420px;
    text-align: center;
}
.mainVisual .searchArea{
    box-sizing: border-box;
    position: absolute;
    bottom:0;
    left:0;
    margin-bottom: auto;
    width:100%;
    height:100px;
    background-color: rgba(0,0,0,0.5);
    padding-top:30px;
    padding-bottom:30px;
}
.mainVisual .searchArea .searchMethodArea{
    display: none;
}
.mainVisual .searchArea .searchMethodArea.active{
    display: inline-block;
}

/* mainBoard */
.mainBoard{
    display: inline-block;
    box-sizing: border-box;
    width:485px;
    height:170px;
    padding:25px;
    border:1px solid #ccc;
    color:#333;
}

.mainBoard .title{
    margin-bottom:15px;
}
.mainBoard .title .name{
    float:left;
}
.mainBoard .title .viewMore{
    float:right;
    font-size:12px;
}
.mainBoard .boardContents{
    width:100%;
    font-size:12px;
    line-height: 20px;
}
.mainBoard .boardContents td:first-child{
    float:left;
}
.mainBoard .boardContents td:last-child{
    float:right;
}


/* adArea */

/* SlideBox */
.mainSlideBox{
    width:100%;
    height:60px;
}

.mainSlideBox .slideArea{
    float:left;
    width:100%;
    height:100%;
    box-sizing: border-box;
    padding:10px;
    background-color: #ffbb4f;
}

.mainSlideBox .slideArea .centerBox{
    float:left;
    width:80%;
    text-align:center;
}
.mainSlideBox .slideArea .sideBox{
    float:left;
    width:10%;
    height:100%;
    cursor: pointer;
}
.mainSlideBox .slideArea .sideboxLeft{
    text-align:right;
}.mainSlideBox .slideArea  .sideboxRight{
     text-align:left;
 }
.mainSlideBox .slideArea .sideBox::selection{
    background: none;
}
.mainSlideBox .slideArea .sideBox:before{
    content: "";
    display: inline-block;
    vertical-align: middle;
    height:100%;
}
.mainSlideBox .slideArea .sideBox .leftArrow{
    display: inline-block;
    width:25px;
    height:25px;
    border-left: 5px solid #ddd;
    border-bottom: 5px solid #ddd;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -sand-transform: rotate(45deg);
}

.mainSlideBox .slideArea .sideBox .rightArrow{
    display: inline-block;
    width:25px;
    height:25px;
    border-right: 5px solid #ddd;
    border-bottom: 5px solid #ddd;
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -sand-transform: rotate(-45deg);
}
.mainSlideBox .slideArea .centerBox img{
    display: inline-block;
    height:38px;
    vertical-align: middle;
}
/* appArea */
.appArea{
    clear:both;
    height:320px;
    background-color:#f3f3f3;
    overflow: hidden;
}

.appArea .container{
    width:980px;
    margin-left:auto;
    margin-right:auto;
}
.appArea .container .block{
    display: inline-block;
    float:left;
    width:485px;
}
.appArea .container .phone{
    margin-top:60px;
}
.appArea .container .text{
    margin-top:60px;
    margin-bottom:25px;
    font-size:28px;
    color:#555;
}
.appArea .container .text p{
    line-height: 40px;
}
.appArea .container .appMove{
    background-color: white;
    border:1px solid #ccc;
    padding-left:60px;
    padding-right:60px;
    height:40px;
    border-radius: 5px;
    margin-bottom:10px;
}

/* DetailArea */
.detailArea{
    width:100%;
    display: table;
    height:80px;
    background-color:white;
    border-top:1px solid #ccc;
    text-align: center;
}
.detailArea .wrap{
    display: table-cell;
    vertical-align: middle;
}
.detailArea span{
    display: inline;
    font-size:18px;
    margin-right:15px;

}
.detailArea button{
    font-size:16px;
    
}
