<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Estate list</title>
</head>
<body>
<div class="tab-content">

  <div id="tab-start-list" class="tab-start-list tab-pane sb-pt-15 active">
    <div class="form">
      <div class="form-horizontal">
        <div class="form-body">

          <div data-sb-href="content.html" class="item sb-mb-30 sb-bg-gray" th:each="item : ${items}">
            <a class="tab-detail-startup" th:href="@{/admin/estate/detail/{id}(id=${item.id})}">
              <div class="row item-inner">
                <div class="col-xs-2">
                  <img th:src="${not #lists.isEmpty(item.attachments) ? item.attachments[0].thumbnail : '/admin/assets/images/no_image.jpg'}"/>
                </div>

                <div class="col-md-10">
                  <div class="form-group sb-mb-0">
                    <div class="col-md-2">
                      <div class="form-control-static">
                        <strong>보</strong>
                        <strong th:text="${item.depositeCost}">3000</strong>
                      </div>
                    </div>
                    <div class="col-md-7">
                      <div class="form-control-static">
                        <strong th:text="${item.name}">맛있는 식당 신림점</strong>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-control-static" th:inline="text">[[${item.businessType.name}]]</div>
                    </div>
                  </div>

                  <div class="form-group sb-mb-0">
                    <div class="col-md-2">
                      <div class="form-control-static">
                        <strong>임</strong>
                        <strong th:text="${item.rentCost}"></strong>
                      </div>
                    </div>
                    <div class="col-md-7">
                      <div class="form-control-static" th:text="${item.businessZone}">서울시 관악구 신대방동</div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-control-static" th:text="${item.area} + m2"></div>
                    </div>
                  </div>

                  <div class="form-group sb-mb-0">
                    <div class="col-md-2">
                      <div class="form-control-static">
                        <strong>권</strong>
                        <strong th:text="${item.premiumCost}"></strong>
                      </div>
                    </div>
                        <div class="col-md-7">
                          <div class="form-control-static">
                            <span th:text="${item.onelineComment}">월수입 600만!</span>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-control-static">
                            <span th:text="${item.monthlyIncome}">신대방사거리 좋은 목에 위치!</span>
                          </div>
                        </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <!-- .item-->

        </div>
      </div>
    </div>

    <div class="pagination-wrapper sb-pb-30">
      <div th:replace="admin/fragment/common :: pagination(items=${items})"></div>
      <!-- .sb-pagination-->
    </div>
    <!-- .pagination-wrapper-->
  </div>
</div>
</body>
</html>