<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org" layout:decorator="admin/layout/base">
<head>
    <meta charset="UTF-8"/>
    <title>User detail</title>
</head>
<body>
<div layout:fragment="content">
    <div class="member-detail page-container">
        <div class="page-head">
            <div class="container">
                <div class="page-title">
                </div>
                <!-- .page-title-->
                <div class="page-toolbar">
                    <a href="javascript:history.back();" class="btn btn-default"><i class="fa fa-angle-left"></i> 목록</a>
                </div>
                <!-- .page-toolbar-->
            </div>
        </div>
        <!-- .page-head-->

        <div class="page-content sb-pt-50 sb-pb-50">
            <div class="container">
                <div class="member-detail-main sb-bg-white sb-p-20">
                    <div class="main-inner sb-pt-0 sb-pb-0">
                        <div class="portlet box green">
                            <div class="portlet-title">
                                <div class="caption"><strong>회원정보</strong></div>
                            </div>
                            <div class="portlet-body form">
                                <form class="form-horizontal form-ajax" method="post" th:action="@{/admin/user/__${user.id}__/password}" novalidate="novalidate">
                                    <div class="form-body">
                                        <div class="form-group">
                                            <label class="col-md-3 control-label"><strong>이메일</strong></label>
                                            <div class="col-md-9">
                                                <div class="form-control-static"><strong th:text="${user.email}">polarity12@hanmail.net</strong></div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-3 control-label"><strong>휴대폰 번호</strong></label>
                                            <div class="col-md-9">
                                                <div class="form-control-static" th:text="${user.phoneNumber}">01012345678</div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-3 control-label"><strong>가입일시</strong></label>
                                            <div class="col-md-9">
                                                <div class="form-control-static" th:text="${user.createdDate}">YYYY.MM.DD hh:mm:ss</div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-3 control-label"><strong>비밀번호</strong></label>
                                            <div class="col-md-9">
                                                <input type="password" name="passwordNew" class="form-control input-large" required="required"/>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-3 control-label"><strong>비밀번호확인</strong></label>
                                            <div class="col-md-9">
                                                <input type="password" name="passwordConfirm" class="form-control input-large" required="required" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-3 control-label"><strong>비밀번호확인</strong></label>
                                            <div class="col-md-9">
                                                <input type="email" name="username" class="form-control input-large" />
                                            </div>
                                        </div>

                                    </div>
                                    <!-- .form-body-->

                                    <div class="form-actions text-right">
                                        <input type="submit" class="btn green" value="수정반영" />
                                    </div>
                                    <!-- .form-actions-->
                                </form>
                            </div>
                        </div>

                        <div class="portlet box green">
                            <div class="portlet-title">
                                <div class="caption"><strong>신고내역</strong></div>
                            </div>
                            <div class="portlet-body">
                                <div class="sb-pb-20">
                                    <ul class="sb-ul">
                                        <li class="portlet light bordered" th:each="report : ${items}">
                                            <div class="row">
                                                <div class="col-xs-10"><a href="#">
                                                    <div class="row">
                                                        <div class="col-xs-3">
                                                            <div class="form-control-static" th:text="${report.createdDate}">2015.04.22</div>
                                                        </div>
                                                        <div class="col-xs-8">
                                                            <div class="form-control-static" th:text="${report.user.email}">polarity12@hanmail.net</div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <div class="form-control-static" th:text="${report.content}">막상 찾아갔더니 올라와 있는 매물만큼 좋은 매물이 있다면서 다른 매물들을 추천해주면서 돌아다니다가 실제</div>
                                                        </div>
                                                    </div></a></div>
                                                <div class="col-xs-2 text-right"><a href="javascript:;" class="btn red btn-action-delete" th:attr="data-url=@{__${#httpServletRequest.getRequestURI()}__/__${report.id}__}">x</a></div>
                                            </div>
                                        </li>
                                    </ul>

                                    <div th:replace="admin/fragment/common :: pagination(items=${items})"></div>
                                    <!-- .sb-pagination-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- .member-detail-->

    <script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/

    /*]]>*/
    </script>

</div>
</body>
</html>