<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org" layout:decorator="admin/layout/base">
<head>
    <meta charset="UTF-8"/>
    <title>Notice list</title>
</head>
<body>
<div layout:fragment="content">
    <div class="member-mng page-container">
        <div class="page-head">
            <div class="container">
                <div class="page-title">
                    <h1>공지사항 관리</h1>
                </div>
                <!-- .page-title-->
                <div class="page-toolbar">
                </div>
                <!-- .page-toolbar-->
            </div>
        </div>
        <!-- .page-head-->

        <div class="page-content sb-pt-50 sb-pb-50">
            <div class="container">
                <div class="member-mng-main portlet light">
                    <div class="main-inner sb-pt-30 sb-pb-30">

                        <div class="table-wrapper">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover text-center">
                                    <thead>
                                    <tr>
                                        <th>제목</th>
                                        <th>작성일시</th>
                                        <th colspan="2">도구</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="item : ${items}">
                                        <td>
                                            <a th:text="${item.title}">Title</a>
                                        </td>
                                        <td th:text="${item.content}">Content</td>
                                        <td>
                                            <a  th:href="@{__${#httpServletRequest.getRequestURI()}__/{id}(id=${item.id})}" th:text="수정">Repair</a>
                                        </td>
                                        <td>
                                            <a href="javascript:;" class="text-danger btn-action-delete" th:attr="data-url=@{__${#httpServletRequest.getRequestURI()}__/__${item.id}__}" th:text="탈퇴">Delete</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- .table-wrapper-->

                        <div th:replace="admin/fragment/common :: pagination(items=${items})"></div>
                        <!-- .sb-pagination-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- .member-mng-->
    <script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/

    /*]]>*/
    </script>
</div>
</body>
</html>