<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org" layout:decorator="web/layout/base-login">
<head>
    <meta charset="utf-8"/>
    <title>식방</title>
</head>
<body>
<div layout:fragment="content" id="contents">
    <div class="titleImage" style="background:url(/static/admin/include/images/content/back.png) no-repeat center;">
        <h2 style="clear:both">인수창업</h2>
    </div>
    <div id="container">

        <div class="slideBox">
            <div class="slideArea">
                <div class="sideBox">
                    <div class="arrow leftArrow"></div>
                </div>
                <div class="centerBox">
                    <div class="viewImage">
                        <img th:src="${not #lists.isEmpty(attachments) ? attachments[0].origin : '/admin/assets/images/no_image.jpg'}"/>
                    </div>
                    <div class="thumbImage">
                        <img class = "active" th:src="${not #lists.isEmpty(attachments) ? attachments[0].origin : '/admin/assets/images/no_image.jpg'}"/>
                        <img th:each="attachment,iterStat : ${attachments}" th:if="${iterStat.index} != 0" th:src="${attachment.origin}"/>
                        <span class="thumbNum">1/<span th:text="${sizeattach}"></span></span>
                    </div>

                </div>
                <div class="sideBox">
                    <div class="arrow rightArrow"></div>
                </div>
            </div>
            <div class="infoArea">
                <h3>담당자 정보</h3>
                <img class="basicImg" th:src="${estate.user.avatar.origin}"/>

                <div class="infoText">
                    <p><strong>담당자:</strong> <span th:text="${estate.user.companyName}"></span></p>
                    <p><strong>연락처:</strong> <span th:text="${estate.user.cellphoneNumber}"></span></p>
                    <p>
                        <strong>담당자 정보:</strong><br/>
                        <span>
                                    이 매물은 공인중개사가 등록한 중개매물입니다. 공인중개사를 통해 안전하게 계약할수 있으며 법정중개보수가 발생합니다.
                                </span>
                    </p>
                </div>
                <button class="btn primary wide">찜하기</button>
            </div>
        </div>
        <div th:replace="web/fragment/common-login :: estateStartup(estate=${estate})">

        </div>
        <input type="hidden" id="latitude" th:value="${estate.latitude}"/>
        <input type="hidden" id="longitude" th:value="${estate.longitude}"/>

        <div class="row report">
                    <span class="right reportButton">잘못된 정보 신고</span>
                </div>
            </div>

    <script>
        $(document).ready(function() {
            //초기 변수 설정
            var overlay = $(".overlay");
            var loginModal = $(".loginModal");
            var joinModal = $(".joinModal");
            var reportModal = $(".reportModal");
            $("#liStartup").addClass("active");
            var longitude = $("#longitude").val();
            var latitude = $("#latitude").val();
            var mapContainer = document.getElementById('map'), // 지도를 표시할 div
                    mapOption = {
                        center: new daum.maps.LatLng(latitude,longitude), // 지도의 중심좌표
                        level: 3 // 지도의 확대 레벨
                    };

            var map = new daum.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

            // 마커가 표시될 위치입니다 
            var markerPosition = new daum.maps.LatLng(latitude,longitude);

            // 마커를 생성합니다
            var marker = new daum.maps.Marker({
                position: markerPosition
            });

            // 마커가 지도 위에 표시되도록 설정합니다
            marker.setMap(map);

            //로드뷰
            var roadviewContainer = document.getElementById('roadView'); //로드뷰를 표시할 div
            var roadview = new daum.maps.Roadview(roadviewContainer); //로드뷰 객체
            var roadviewClient = new daum.maps.RoadviewClient(); //좌표로부터 로드뷰 파노ID를 가져올 로드뷰 helper객체

            var position = new daum.maps.LatLng(latitude,longitude);

            // 특정 위치의 좌표와 가까운 로드뷰의 panoId를 추출하여 로드뷰를 띄운다.
            roadviewClient.getNearestPanoId(position, 50, function (panoId) {
                roadview.setPanoId(panoId, position); //panoId와 중심좌표를 통해 로드뷰 실행
            });

            //썸네일을 클릭하면 viewImage에 보여준다.
            $(".thumbImage img").click(function (e) {
                var imgs = $(".thumbImage img");
                imgs.removeClass("active");

                $(this).addClass("active");

                $(".viewImage img").attr("src", $(this).attr("src"));

                $(".thumbNum").text($(this).index() + 1 + "/" + imgs.length);
            });

            //화살표를 클릭하면 보여준다.
            $(".sideBox").click(function (e) {
                var arrow = $(this).find(".arrow");
                var imgs = $(".thumbImage img");
                var currentImg = $(".thumbImage img.active");

                imgs.removeClass("active");

                if (arrow.hasClass("leftArrow")) {
                    var prevImg;

                    if (currentImg.index() != 0)
                        prevImg = currentImg.prev();
                    else
                        prevImg = imgs.eq(imgs.length - 1);

                    prevImg.addClass("active");

                    $(".viewImage img").attr("src", prevImg.attr("src"));
                    $(".thumbNum").text(prevImg.index() + 1 + "/" + imgs.length);
                } else {
                    var nextImg;

                    if (currentImg.index() != imgs.length - 1)
                        nextImg = currentImg.next();
                    else
                        nextImg = imgs.eq(0);

                    nextImg.addClass("active");

                    $(".viewImage img").attr("src", nextImg.attr("src"));
                    $(".thumbNum").text(nextImg.index() + 1 + "/" + imgs.length);
                }

            });

            //잘못된 정보 신고 버튼
            $(".reportButton").click(function (e) {
                overlay.addClass("active");
                reportModal.addClass("active");
                $(window).scrollTop(0);
            });

            $("#reportConfirmButton").click(function (e) {
                var name = $("input[name=reportName]").val();
                var phone = $("input[name=reportPhone]").val();
                var contents = $("input[name=reportContents]").val();

                if (name == "" || phone == "" || contents == "") {
                    alert("모든 정보를 입력해주세요.");
                    return false;
                }

                alert("신고가 접수되었습니다.");
                overlay.removeClass("active");
                reportModal.removeClass("active");
            });
        });
            

    </script>
    </div>
</body>
</html>