<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org" layout:decorator="web/layout/base">
<head>
    <meta charset="utf-8"/>
    <title>식방</title>
</head>
<body>
<div layout:fragment="content" id="contents">

    <div class="titleImage" style="background:url(/static/admin/include/images/content/back.png) no-repeat center;">
        <h2 style="clear:both">공실매물</h2>
    </div>
    <div id="container">
            <div class="slideBox">
                    <div class="slideArea">
                        <div class="sideBox">
                            <div class="arrow leftArrow"></div>
                        </div>
                        <div class="centerBox">
                            <div class="viewImage">
                                <img th:src="${not #lists.isEmpty(attachments) ? attachments[0].origin : '/static/admin/assets/images/no_image.jpg'}"/>
                            </div>
                            <div class="thumbImage">
                                <img class = "active" th:src="${not #lists.isEmpty(attachments) ? attachments[0].origin : '/admin/assets/images/no_image.jpg'}"/>
                                <img th:each="attachment,iterStat : ${attachments}" th:if="${iterStat.index} != 0" th:src="${attachment.origin}"/>
                                <span class="thumbNum">1/<span th:text="${sizeattach}"></span></span>
                            </div>

                        </div>
                        <div class="sideBox">
                            <div class="arrow rightArrow"></div>
                        </div>
                    </div>
                    <div class="infoArea">
                        <h3>담당자 정보</h3>
                        <img class="basicImg" th:unless="${estate.user.avatar == null}" th:src="${estate.user.avatar.origin}"/>
                        <img class="basicImg" th:if="${estate.user.avatar == null}" th:src="@{/admin/assets/images/no_image.jpg}"/>
                        <div class="infoText">
                            <p><strong>담당자:</strong> <span th:text="${estate.user.companyName}"></span></p>
                            <p><strong>연락처:</strong> <span th:text="${estate.user.cellphoneNumber}"></span></p>
                            <p>
                                <strong>담당자 정보:</strong><br/>
                                <span>
                                    이 매물은 공인중개사가 등록한 중개매물입니다. 공인중개사를 통해 안전하게 계약할수 있으며 법정중개보수가 발생합니다.
                                </span>
                            </p>
                        </div>
                        <button th:if="${@serviceAuthorized.isAuthenticated()}" class="btn primary wide" id="wishList">
                        </button>
                        <button th:unless="${@serviceAuthorized.isAuthenticated()}" class="btn primary wide" id="alertMessage">찜하기</button>
                    </div>
                </div>
            <div  th:replace="web/fragment/common-login :: estateVacant(estate=${estate})"></div>
            <div th:replace="web/fragment/common-login :: reportModal"></div>
            <div class="row report">
                    <span class="right reportButton">잘못된 정보 신고</span>
                </div>
            </div>
    <script th:src="@{../../static/admin/assets/js/broker.js}"></script>
    </div>
</body>
</html>