<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org" layout:decorator="web/layout/base">
<head>
    <meta charset="utf-8"/>
    <title>식방</title>
</head>
<body>
<div layout:fragment="content" id="contents">

        <div class="mapArea">
                <div class="infoBox">
                    <div class="detailBox">
                        <div class="priceBox">
                            <div class="formControlGroup">
                                <label>보증금</label>
                                <select class="formControl" id="depositeCost" style="font-size:11px;">
                                    <option value="all">전체</option>
                                    <option value="0-30">3천만원 이하</option>
                                    <option value="30-50">3천~5천만원</option>
                                    <option value="50-100">5천만원 ~ 1억원</option>
                                    <option value="100-200">1억원 ~ 2억원</option>
                                    <option value=">200">2억원 이상</option>
                                </select>
                            </div>
                            <div class="formControlGroup">
                                <label>월세</label>
                                <select class="formControl" id="rentCost" style="font-size:11px;">
                                    <option value="all">전체</option>
                                    <option value="0-1">100만원 이하</option>
                                    <option value="1-3">100~300만원</option>
                                    <option value="3-5">300만원~500만원</option>
                                    <option value="5-10">500만원~1000만원</option>
                                    <option value=">10">1000만원이상</option>
                                </select>
                            </div>
                            <div class="formControlGroup">
                                <label>권리금</label>
                                <select class="formControl" id="premiumCost" style="font-size:11px;">
                                    <option value="all">전체</option>
                                    <option value="none">없음</option>
                                    <option value="0-10">1천만원 이하</option>
                                    <option value="10-30">1천~3천만원</option>
                                    <option value="30-50">3천~5천만원</option>
                                    <option value="50-100">5천~1억</option>
                                    <option value=">100">1억 이상</option>
                                </select>
                            </div>
                        </div>
                        <div class="storeBox">
                            <div class="storeArea">
                                <h5>휴게음식점</h5>
                                <div class="store" th:each="eatery,eateryStat : ${eatery}">
                                     <input th:id="'c'+${eateryStat.index}" type="checkbox" th:value="${eatery.id}" checked  >
                                     <span th:text="${eatery.name}"></span>
                                </div>

                            </div>

                            <div class="storeArea">
                                <h5>일반음식점</h5>
                                <div class="store" th:each="restaurant,restaurantStat : ${restaurants}">
                                    <input th:id="'c1'+${restaurantStat.index}" type="checkbox" th:value="${restaurant.id}" checked  >
                                    <span th:text="${restaurant.name}"></span>
                                </div>
                            </div>

                            <div class="storeArea">
                                <h5>주류</h5>
                                <div class="store" th:each="liquor,liquorStat : ${liquors}">
                                    <input th:id="'c2'+${liquorStat.index}" type="checkbox" th:value="${liquor.id}" checked >
                                    <span th:text="${liquor.name}"></span>
                                </div>
                            </div>
                            
                            <div class="btnGroup">
                                <button class="btn primary littleWide">조회하기</button>
                            </div>
                            
                        </div>
                        
                    </div>
                    <div class="listBox">
                        <div class="storeList">
                            <div class="title">
                                <h5>안심창업</h5>
                            </div>
                            <ul id="trusted_broker">
                            </ul>
                        </div>
                        <div class="storeList">
                            <div class="title">
                                <h5>중개사</h5>
                            </div>
                            <ul id="broker">
                            </ul>
                        </div>
                        <div class="storeList">
                            <div class="title">
                                <h5>직거래</h5>
                            </div>
                            <ul id="member">
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="mapBox">
                    <div class="searchBox">
                        <div class="buttonArea clearFix">
                            <button class="active" data-method="storeSearch">상권으로 찾기</button>
                            <button class="" data-method="subwaySearch">지하철역으로 찾기</button>
                        </div>
                        <div class="storeSearch searchMethodArea active">
                            <select class="formControl citySelect">
                                <option selected disabled>선택</option>
                            </select>
                            <select class="formControl districtSelect">
                                <option selected disabled>선택</option>
                            </select>
                            <select class="formControl">
                                <option selected disabled>선택</option>
                            </select>
                            <button class="btn primary" id="searchByStore" style="height:35px;">조회</button>
                        </div>
                        <div class="subwaySearch searchMethodArea">
                            <input type="text" class="subwayInput formControl" style="width:320px;margin-right:0px;" placeholder="지하철역"/>
                            <button class="btn primary" id ="searchBySubway" style="height:35px;">조회</button>
                        </div>
                    </div>
                    <input type="hidden" id="estateType" th:value="${estateType}"/>
                    <div id="map" ></div>
                </div>
                
                
            </div>

        <script th:src="@{../../static/admin/assets/js/map.js}"></script>

</div>
    </body>
    </div>
</html>