<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org" layout:decorator="web/layout/base">
<head>
    <meta charset="utf-8"/>
    <title>식방</title>
</head>
<body>
<div layout:fragment="content" id="contents">
            <div class="titleImage" style="background:url(include/images/content/back.png) no-repeat center;">
                <h2>외식창업소식</h2>
            </div>
            <div id="container">
                <div class="tableArea">
                    <h2 class="title">외식창업소식</h2>
                    <table class="table full noSideBorder hover">
                        <thead>
                            <tr>
                                <th style="width:100px;">번호</th>
                                <th>제목</th>
                                <th style="width:120px;">작성일시</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="item,idStat : ${items}">
                                <td class="center" th:text="${idStat.index+1}"></td>
                                <td class="paddingLeft"><a  th:href="@{'http://'+${item.content}}" target="_blank"><p th:text="${item.title}"></p></a></td>
                                <td class="center"><span th:if="${item.createdDate != null}" th:text="${#dates.format(item.createdDate, 'YYYY/MM/dd')}"></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="pagination" th:replace="web/fragment/common-login :: pagination(items=${items})">
                </div>
            </div>
            
            
        </div>
</body>
</html>