<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title>Insert title here</title>
</head>
<body>
	<!-- START HEADER FRAGMENT -->
	<div th:fragment="header" id="header">
		<a href="/">
			<div class="logoImage">
				<img th:src="@{/static/admin/include/images/header/logo.png}"/>
			</div>
		</a>
		<ul class="headerList clearFix">
			<a th:href="@{/estate}"><li>전체 매물 보기</li></a>
			<a href="content.html"><li id="liContent" >창업인수</li></a>
			<a href=""><li>공실매물</li></a>
			<a href=""><li>외식 창업 소식</li></a>
			<a href=""><li>공지사항</li></a>

		</ul>
		<ul class="headerRightList">
			<div th:unless="${@serviceAuthorized.isAuthenticated()}">
			<li class="loginButton">로그인</li>
			<li id="joinButton">회원가입</li>
			<a th:href="@{/broker-join}"><li class="primary">중개사무소 가입 및 광고문의</li></a>
			</div>
			<div th:if="${@serviceAuthorized.isAuthenticated()}">
			<li><a th:href="@{/logout}"> 로그아웃</a></li>
            <li><a th:href="@{/member/user}">설정</a></li>
			<li><a th:href="@{/member/lately}"> 최근 살펴본 매물</a></li>
			<li>찜목록</li>
            <li>매물 올리기</li>
			</div>

		</ul>
	</div>
	<!-- END HEADER FRAGMENT -->
	
	<!-- START FOOTER FRAGMENT -->
	<div th:fragment="footer" id="footer">
		<ul class="big clearFix">
			<li>상호:(주)르망제</li>
			<li>대표: 정종열</li>
			<li>상표: 食방</li>
		</ul>
		<ul class="clearFix">
			<a th:href="@{/use-policy}"><li>이용약관</li></a>
			<a th:href="@{/privacy-policy}"><li>개인정보취급방침</li></a>
			<a th:href="@{/lbs-policy}"><li>위치기반서비스 이용약관</li></a>
			<a><li>회사소개서</li></a>
		</ul>
		<ul class="clearFix">
			<li>서비스이용문의: 1234-5678</li>
			<li>주소: 서울시 양천구 은행정로 3길 8-2 A호</li>
			<li>이메일: abced1234@naver.com</li>
			<li>서비스제휴문의: 1234-5678</li>
		</ul>
		<div class="snsArea">
			<a href="#"><img th:src="@{/static/admin/include/images/footer/facebook.png}"/></a>
			<a href="#"><img th:src="@{/static/admin/include/images/footer/band.png}"/></a>
			<a href="#"><img th:src="@{/static/admin/include/images/footer/instagram.png}"/></a>
			<a href="#"><img th:src="@{/static/admin/include/images/footer/pinterest.png}"/></a>
		</div>
		<p class="copyright">COPYRIGHT ALL RIGHT RESERVED. SIGBANG</p>

		<div id="popup-notice" tabindex="-1" aria-hidden="true" data-backdrop="static" data-keyboard="false" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<div role="alert" class="alert alert-danger alert-dismissible">
						<button type="button" data-dismiss="modal" aria-label="Close" class="close" id="btn-notice-action">x</button>
						<span class="popup-msg">비밀번호와 비밀번호확인이 일치하지 않습니다</span>
						<!-- Password and Password Confirmation do not match.-->
					</div>
				</div>
			</div>
		</div>
	</div>

    <!-- DIV Header 2-->
	<div th:fragment="header2" id="header2">
		<a href="main.html">
			<div class="logoImage">
				<img src="include/images/header/logo.png"/>
			</div>
		</a>
		<ul class="headerList clearFix">
			<a href=""><li>전체매물보기</li></a>
			<a href="content.html"><li>인수창업</li></a>
			<a href=""><li>공실매물</li></a>
		</ul>
		<ul class="headerRightList">
			<li class="loginButton">로그인</li>
			<li id="joinButton">회원가입</li>
			<a href=""><li class="primary">중개사무소 가입 및 광고문의</li></a>
			<!--
            <a href=""><li>로그아웃</li></a>
            <a href=""><li>설정</li></a>
            <a href=""><li>최근 살펴본 매물</li></a>
            <a href=""><li>찜목록</li></a>
            <a href=""><li>매물올리기</li></a>
            -->
		</ul>
	</div>

	<div class="pagination" th:fragment="pagination">
		<div class="sb-pagination">
			<ul class="pagination">
				<!--First-->
				<li th:class="${items.first ? 'disabled' : ''}"><a th:href="@{${uri}(pageIndex=0)}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
				<!--Middle-->
				<li th:if="${items.totalPages-items.number ge 3 and items.number ge 3}"><a th:href="@{${uri}(pageIndex=${items.number-3})}" th:text="${items.number-2}">1 <span class="sr-only">(current)</span></a></li>
				<li th:if="${items.totalPages-items.number ge 2 and items.number ge 2}"><a th:href="@{${uri}(pageIndex=${items.number-2})}" th:text="${items.number-1}">1 <span class="sr-only">(current)</span></a></li>
				<li th:if="${items.totalPages-items.number ge 1 and items.number ge 1}"><a th:href="@{${uri}(pageIndex=${items.number-1})}" th:text="${items.number}">1 <span class="sr-only">(current)</span></a></li>

				<li class="active"><a th:text="${items.number+1}">1 <span class="sr-only">(current)</span></a></li>

				<li th:if="${items.totalPages-items.number gt 1}"><a th:href="@{${uri}(pageIndex=${items.number+1})}" th:text="${items.number+2}">1 <span class="sr-only">(current)</span></a></li>
				<li th:if="${items.totalPages-items.number gt 2}"><a th:href="@{${uri}(pageIndex=${items.number+2})}" th:text="${items.number+3}">1 <span class="sr-only">(current)</span></a></li>
				<li th:if="${items.totalPages-items.number gt 3}"><a th:href="@{${uri}(pageIndex=${items.number+3})}" th:text="${items.number+4}">1 <span class="sr-only">(current)</span></a></li>
				<!--Last-->
				<li th:class="${items.last ? 'disabled' : ''}"><a th:href="@{${uri}(pageIndex=${items.totalPages-1})}" aria-label="Previous"><span aria-hidden="true">&raquo;</span></a></li>
			</ul>
		</div>
	</div>

</body>
</html>