<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Insert title here</title>
</head>
<body>
<!-- START HEADER FRAGMENT -->
<div th:fragment="header" id="header">
    <a href="/">
        <div class="logoImage">
            <img th:src="@{/static/admin/include/images/header/logo.png}"/>
        </div>
    </a>
    <ul class="headerList clearFix">
        <a th:href="@{/estate}"><li>전체매물보기</li></a>
        <a th:href="@{/estate/startup}"><li id="liStartup" >인수창업</li></a>
        <a th:href="@{/estate/vacant}"><li id="liVacancy">공실매물</li></a>
    </ul>
    <ul class="headerRightList">
        <div th:unless="${@serviceAuthorized.isAuthenticated()}">
            <li class="loginButton">로그인</li>
            <li id="joinButton">회원가입</li>
            <a th:href="@{/broker-join}"><li class="primary">중개사무소 가입 및 광고문의</li></a>
        </div>
        <div th:if="${@serviceAuthorized.isAuthenticated()}">
            <li><a th:href="@{/logout}"> 로그아웃</a></li>
            <li id="setting"><a th:href="@{/member/user}">설정</a></li>
            <li th:if="${session.type} == 'MEMBER'" id="lately"><a th:href="@{/member/lately}"> 최근 살펴본 매물</a></li>
            <li th:if="${session.type} == 'MEMBER'" id="wishlist"><a th:href="@{/member/estate/wishlist}">찜목록</a></li>
            <li th:if="${session.type == 'BROKER' || session.type == 'TRUSTED_BROKER'}"><a th:href="@{/member/estate}">매물 관리</a></li>
            <li>매물 올리기</li>
        </div>

    </ul>
</div>
<!-- END HEADER FRAGMENT -->

<!-- START FOOTER FRAGMENT -->
<div th:fragment="footer" id="footer">
    <ul class="big clearFix">
        <li>상호:(주)르망제</li>
        <li>대표: 정종열</li>
        <li>상표: 食방</li>
    </ul>
    <ul class="clearFix">
        <a th:href="@{/use-policy}"><li>이용약관</li></a>
        <a th:href="@{/privacy-policy}"><li>개인정보취급방침</li></a>
        <a th:href="@{/lbs-policy}"><li>위치기반서비스 이용약관</li></a>
        <a><li>회사소개서</li></a>
    </ul>
    <ul class="clearFix">
        <li>서비스이용문의: 1234-5678</li>
        <li>주소: 서울시 양천구 은행정로 3길 8-2 A호</li>
        <li>이메일: abced1234@naver.com</li>
        <li>서비스제휴문의: 1234-5678</li>
    </ul>
    <div class="snsArea">
        <a href="#"><img th:src="@{/static/admin/include/images/footer/facebook.png}"/></a>
        <a href="#"><img th:src="@{/static/admin/include/images/footer/band.png}"/></a>
        <a href="#"><img th:src="@{/static/admin/include/images/footer/instagram.png}"/></a>
        <a href="#"><img th:src="@{/static/admin/include/images/footer/pinterest.png}"/></a>
    </div>
    <p class="copyright">COPYRIGHT ALL RIGHT RESERVED. SIGBANG</p>

    <div id="popup-notice" tabindex="-1" aria-hidden="true" data-backdrop="static" data-keyboard="false" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div role="alert" class="alert alert-danger alert-dismissible">
                    <button type="button" data-dismiss="modal" aria-label="Close" class="close" id="btn-notice-action">x</button>
                    <span class="popup-msg">비밀번호와 비밀번호확인이 일치하지 않습니다</span>
                    <!-- Password and Password Confirmation do not match.-->
                </div>
            </div>
        </div>
    </div>
</div>

<div  class="pagination" th:fragment="pagination">
    <div class="sb-pagination">
        <ul class="pagination">
            <!--First-->
            <li th:class="${items.first ? 'disabled' : ''}"><a th:href="@{${uri}(pageIndex=0)}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
            <!--Middle-->
            <li th:if="${items.totalPages-items.number ge 3 and items.number ge 3}"><a th:href="@{${uri}(pageIndex=${items.number-3})}" th:text="${items.number-2}">1 <span class="sr-only">(current)</span></a></li>
            <li th:if="${items.totalPages-items.number ge 2 and items.number ge 2}"><a th:href="@{${uri}(pageIndex=${items.number-2})}" th:text="${items.number-1}">1 <span class="sr-only">(current)</span></a></li>
            <li th:if="${items.totalPages-items.number ge 1 and items.number ge 1}"><a th:href="@{${uri}(pageIndex=${items.number-1})}" th:text="${items.number}">1 <span class="sr-only">(current)</span></a></li>

            <li class="active"><a th:text="${items.number+1}">1 <span class="sr-only">(current)</span></a></li>

            <li th:if="${items.totalPages-items.number gt 1}"><a th:href="@{${uri}(pageIndex=${items.number+1})}" th:text="${items.number+2}">1 <span class="sr-only">(current)</span></a></li>
            <li th:if="${items.totalPages-items.number gt 2}"><a th:href="@{${uri}(pageIndex=${items.number+2})}" th:text="${items.number+3}">1 <span class="sr-only">(current)</span></a></li>
            <li th:if="${items.totalPages-items.number gt 3}"><a th:href="@{${uri}(pageIndex=${items.number+3})}" th:text="${items.number+4}">1 <span class="sr-only">(current)</span></a></li>
            <!--Last-->
            <li th:class="${items.last ? 'disabled' : ''}"><a th:href="@{${uri}(pageIndex=${items.totalPages-1})}" aria-label="Previous"><span aria-hidden="true">&raquo;</span></a></li>
        </ul>
    </div>
</div>
<div th:fragment="estateStartup" class="tableArea">
    <span class="date right" >등록일: <span th:if="${estate.createdDate != null}" th:text="${#dates.format(estate.createdDate, 'dd/MM/YYYY')}"></span></span>
    <h2 class="title" th:text="${estate.name}"></h2>

    <table class="table full">
        <thead>
        <tr>
            <th colspan="2" style="width:50%;">기본정보</th>
            <th colspan="2" style="width:50%;">수익비용구조</th>
        </tr>
        </thead>
<tbody >
<tr>
    <td class="paddingLeft strong" style="width:25%;">매물번호</td>
    <td class="center" style="width:25%;"><span th:text="${estate.estateCode}"></span></td>
    <td class="paddingLeft strong" style="width:25%;">보증금(만원)</td>
    <td style="width:25%;" class="center"><span th:text="${estate.depositeCost}"></span></td>
</tr>
<tr>
    <td class="paddingLeft strong">매물유형</td>
    <td class="center"><span th:text="${estate.estateType}"></span></td>
    <td class="paddingLeft strong">월세(만원)</td>
    <td class="center"><span th:text="${estate.rentCost}"></span></td>
</tr>
<tr>
    <td class="paddingLeft strong">현재업종</td>
    <td class="center"><span th:text="${estate.category.name}"></span></td>
    <td class="paddingLeft strong">관리비(만원)</td>
    <td class="center"><span th:text="${estate.serviceCost}"></span></td>
</tr>
<tr>
    <td class="paddingLeft strong">업종</td>
    <td class="center"><span th:text="${estate.businessType.name}"></span></td>
    <td class="paddingLeft strong">권리금(만원)</td>
    <td class="center"><span th:text="${estate.premiumCost}"></span></td>
</tr>
<tr>
    <td class="paddingLeft strong">상권</td>
    <td class="center"><span th:text="${estate.businessZone}"></span></td>
    <td class="paddingLeft strong">기타경비(만원)</td>
    <td class="center"><span th:text="${estate.otherCost}"></span></td>
</tr>
<tr>
    <td class="paddingLeft strong">인근지하철역</td>
    <td class="center"><span th:text="${estate.subwayStation}"></span></td>
    <td class="paddingLeft strong">월매출(만원)</td>
    <td class="center"><span th:text="${estate.monthlyIncome}"></span></td>
</tr>
<tr>
    <td class="paddingLeft strong">층</td>
    <td class="center"><span th:text="${estate.floor}"></span></td>
    <td class="paddingLeft strong">세전월수입(만원)</td>
    <td class="center"><span th:text="${estate.monthlyTax}"></span></td>
</tr>
<tr>
    <td class="paddingLeft strong">면적</td>
    <td class="center"><span th:text="${estate.area}"></span></td>
    <td class="paddingLeft strong">실수익률(%)</td>
    <td class="center"><span th:text="${estate.gainRatio}"></span></td>
</tr>
<tr>
    <td class="paddingLeft strong">주차여부</td>
    <td class="center"><span th:text="${estate.parking}?'가능':'아니'"></span></td>
    <td class="paddingLeft strong"></td>
    <td class="center"></td>
</tr>
<tr>
    <th colspan="4">상세설명</th>
</tr>
<tr>
    <td colspan="4" style="color:#666;">
        <div>
            <p th:text="${estate.detail}"></p>
        </div>
        <div id="map" style="width:330px;height:265px;display:inline-block;margin-right:20px;"></div>
        <div id="roadView" style="width:330px;height:265px;display:inline-block;"></div>
    </td>
</tr>
<input type="hidden" id="latitude" th:value="${estate.latitude}"/>
<input type="hidden" id="longitude" th:value="${estate.longitude}"/>
<input type="hidden" id="estateType" th:value="${estate.estateType}"/>
<input type="hidden" id="estateId" th:value="${estate.id}"/>
<input type="hidden" id="userId" th:value="${estate.user.id}"/>
<input type="hidden" id="isWishList" th:value="${isWishList}"/>
<input type="hidden" id="memberId" th:value="${memberId}"/>
</tbody>
</table>
</div>


<div th:fragment="estateVacant" class="tableArea">
    <span class="date right" >등록일: <span th:if="${estate.createdDate != null}" th:text="${#dates.format(estate.createdDate, 'dd/MM/YYYY')}"></span></span>
    <h2 class="title" th:text="${estate.name}"></h2>


    <table class="table full">
        <thead>
        <tr>
            <th colspan="2" style="width:50%;">기본정보</th>
            <th colspan="2" style="width:50%;">수익비용구조</th>
        </tr>
        </thead>
<tbody >
<tr>
    <td class="paddingLeft strong" style="width:25%;">매물번호</td>
    <td class="center" style="width:25%;"><span th:text="${estate.estateCode}"></span></td>
    <td class="paddingLeft strong" style="width:25%;">보증금(만원)</td>
    <td style="width:25%;" class="center"><span th:text="${estate.depositeCost}"></span></td>
</tr>
<tr>
    <td class="paddingLeft strong">매물유형</td>
    <td class="center" ><span th:text="${estate.estateType}"></span></td>
    <td class="paddingLeft strong">월세(만원)</td>
    <td class="center" ><span th:text="${estate.rentCost}"></span></td>
</tr>
<tr>
    <td class="paddingLeft strong">현재업종</td>
    <td class="center"><span th:text="${estate.businessZone}"></span></td>
    <td class="paddingLeft strong">권리금(만원)</td>
    <td class="center"><span th:text="${estate.premiumCost}"></span></td>
</tr>
<tr>
    <td class="paddingLeft strong">상권</td>
    <td class="center"><span th:text="${estate.businessZone}"></span></td>
    <td class="paddingLeft strong">융자금(만원)</td>
    <td class="center"><span th:text="${estate.loan}"></span></td>
</tr>
<tr>
    <td class="paddingLeft strong">인근지하철역</td>
    <td class="center"><span th:text="${estate.subwayStation}"></span></td>
    <td class="paddingLeft strong">계약면적</td>
    <td class="center"><span th:text="${estate.contractArea}"></span></td>
</tr>
<tr>
    <td class="paddingLeft strong">층</td>
    <td class="center"><span th:text="${estate.floor}"></span></td>
    <td class="paddingLeft strong">전용면적</td>
    <td class="center"><span th:text="${estate.exclusiveArea}"></span></td>
</tr>
<tr>
    <td class="paddingLeft strong">준공년월</td>
    <td class="center" ><span th:if="${estate.constructDate != null}"  th:text="${#dates.format(estate.constructDate, 'dd/MM/YYYY')}"></span></td>
    <td class="paddingLeft strong">전용률(%)</td>
    <td class="center"><span th:text="${estate.exclusiveRate}"></span></td>
</tr>
<tr>
    <td class="paddingLeft strong">입주가능일</td>
    <td class="center"><span th:if="${estate.availableDate != null}" th:text="${#dates.format(estate.availableDate, 'dd/MM/YYYY')}"></span></td>
    <td class="paddingLeft strong">주차여부</td>
    <td class="center"><span th:text="${estate.parking}?'가능':'아니'"></span></td>
</tr>
<tr>
    <th colspan="4">상세설명</th>
</tr>
<tr>
    <td colspan="4" style="color:#666;">
        <div>
            <p th:text="${estate.detail}"></p>
        </div>

        <div id="map" style="width:330px;height:265px;display:inline-block;margin-right:20px;"></div>
        <div id="roadView" style="width:330px;height:265px;display:inline-block;"></div>
    </td>
</tr>
<input type="hidden" id="latitude" th:value="${estate.latitude}"/>
<input type="hidden" id="longitude" th:value="${estate.longitude}"/>
<input type="hidden" id="estateType" th:value="${estate.estateType}"/>
<input type="hidden" id="estateId" th:value="${estate.id}"/>
<input type="hidden" id="userId" th:value="${estate.user.id}"/>
<input type="hidden" id="isWishList" th:value="${isWishList}"/>
<input type="hidden" id="memberId" th:value="${memberId}"/>
</tbody>
</table>
</div>

<div th:fragment="reportModal">
    <div class="overlay"></div>
    <div class="modal reportModal" style="width:520px;">
        <div class="title clearFix">
            <p>잘못된 정보 신고</p>
            <span class="exitIcon"><i class="fa fa-times"></i></span>
        </div>
        <div class="contents">
            <div class="modalAlignArea">
                <div class="formControlGroup horizontal">
                    <label class="narrow">이름</label>
                    <input name="reportName" type="text" class="formControl wide warning" />
                </div>

                <div class="formControlGroup horizontal">
                    <label class="narrow">휴대폰번호</label>
                    <input name="reportPhone" type="password" class="formControl wide warning" />
                </div>

                <div class="formControlGroup horizontal">
                    <label class="narrow">신고내용</label>
                    <textarea name="reportContents" class="formControl wide warning">사진이랑 너무 다릅니다.</textarea>

                </div>

                <div class="btnGroup">
                    <button id="reportConfirmButton" class="btn warning littleWide">접수하기</button>
                    <button id="" class="btn cancel littleWide">취소</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>