<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org" layout:decorator="web/layout/base">
<head>
    <meta charset="utf-8"/>
    <title>식방</title>
</head>
<body>
<div layout:fragment="content" id="contents">
    <div id="container">
          <div class="containerTitle">
                    <h2>내가 올린 매물</h2>
                </div>
                <div class="" style="margin-bottom:40px;">
                    <button class="btn warning littleWide" id="changeAdvertised" th:text="${estate.advertised == true ? '광고해제':'광고등록'}">광고해제</button>
                    <button class="btn warning littleWide">수정</button>
                    <button id="deleteMarket" class="btn warning littleWide">삭제</button>
                    <a th:href="@{/member/estate/advertised}"><button class="btn warning littleWide">목록</button></a>
                    <a th:href="@{/member/estate/paid}"><button class="btn warning littleWide">연장</button></a>
                    <div class="extendDate">
                        <img th:src="@{../../static/admin/include/images/content/clock.png}" />
                        <span>유료종료일시 : <span th:text="${user.dueDate}"></span></span>
                    </div>
                </div>
        <div class="slideBox">
            <div class="slideArea">
                <div class="sideBox">
                    <div class="arrow leftArrow"></div>
                </div>
                <div class="centerBox">
                    <div class="viewImage">
                        <img th:src="${not #lists.isEmpty(attachments) ? attachments[0].origin : '/static/admin/assets/images/no_image.jpg'}"/>
                    </div>
                    <div class="thumbImage">
                        <img class = "active" th:src="${not #lists.isEmpty(attachments) ? attachments[0].origin : '/admin/assets/images/no_image.jpg'}"/>
                        <img th:each="attachment,iterStat : ${attachments}" th:if="${iterStat.index} != 0" th:src="${attachment.origin}"/>
                        <span class="thumbNum">1/<span th:text="${sizeattach}"></span></span>
                    </div>

                </div>
                <div class="sideBox">
                    <div class="arrow rightArrow"></div>
                </div>
            </div>
            <div class="infoArea">
                <h3>담당자 정보</h3>
                <img class="basicImg" th:unless="${estate.user.avatar == null}" th:src="${estate.user.avatar.origin}"/>
                <img class="basicImg" th:if="${estate.user.avatar == null}" th:src="@{/admin/assets/images/no_image.jpg}"/>


                <div class="infoText">
                    <p><strong>담당자:</strong> <span th:text="${estate.user.companyName}"></span></p>
                    <p><strong>연락처:</strong> <span th:text="${estate.user.cellphoneNumber}"></span></p>
                </div>
            </div>
        </div>
        <div th:if="${estate.estateType == 'STARTUP'}">
            <div th:replace="web/fragment/common-login :: estateStartup(estate=${estate})"></div>
        </div>
        <div th:if="${estate.estateType == 'VACANT'}" >
            <div  th:replace="web/fragment/common-login :: estateVacant(estate=${estate})"></div>
        </div>

        <div class="row report">
                    <span class="right reportButton">잘못된 정보 신고</span>
                </div>
            </div>


    <script th:src="@{../../static/admin/assets/js/broker.js}"></script>
</div>
</body>
</html>